body {
  background-color: black;
  background-image: url('./assets/pattern.svg');
}

/* -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */

/* @media only screen and (max-width: 690px) {
  .rotatable {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
  }
} */
